<!DOCTYPE html>
<html>

<head>
    <title>Polaris</title>
    <meta charset="utf-8">
    {% load static %}
    {#<link rel="stylesheet"  type="text/css">#}
    {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../../static/Booking/freelancer/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="../../../static/Booking/freelancer/css/heading.css">
    <link rel="stylesheet" href="../../../static/Booking/freelancer/css/body.css">
    <script src="../../../static/Booking/sorttable.js"></script>
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img class="d-inline-block align-middle mr-2" src="../../../static/Booking/assets/brand/logoWHITE.svg"
                    height="60" width="60" />Welcome, {{ user.get_full_name }}
            </a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a href="{% url 'Booking:manager' manager.id %}"
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Home</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a href="{% url 'Booking:manageOp' manager.id %}"
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Events</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a href="{% url 'Booking:data_center' manager.id %}" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Data</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a href="{% url 'Booking:logout' %}"
                            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- content -->
    <header class="masthead bg-info text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <div class="wrapper row2">
                <div id="container" class="clear" align="center">
                    <!-- Slider -->
                    <section id="slider" class="clear">
                        <h1>Project Management</h1>
                        <!-- Icon Divider-->
                        <div class="divider-custom">
                            <div class="divider-custom-line"></div>
                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                            <div class="divider-custom-line"></div>
                        </div>
                        <br />
                        <br />
                        <table id="visits" class="table table-light table-bordered table-striped table-hover sortable">
                            <thead class="thead-dark ">
                                <th>Project</th>
                                <th>Description</th>
                                <th>Location</th>
                                <th>Details</th>
                                <th>isRemote</th>
                            </thead>
                            {% for opportunity in opportunities %}
                            <tr>
                                <td>{{ opportunity.name }}</td>
                                <td>{{ opportunity.description }}</td>
                                <td>{{ opportunity.location }}</td>
                                <td>{{ opportunity.employer }}</td>
                                <td>{{ opportunity.is_remote }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </section>
                </div>


                <!-- / content body -->
            </div>
        </div>
    </header>
    <section id="slider" class="clear mt-5" align="center">
        <h1> Add Opportunity</h1>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        {% if error_message %}<p id="error">{{ error_message }}</p>{% endif %}
        {% if info_message %}<p id="info">{{ info_message }}</p>{% endif %}
    </section>
    <section class="clear w-100 d-flex justify-content-center" align="center">
        <form class="w-25" action="{% url 'Booking:addOpportunity' manager.id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Project Name" required class="form-control"><br>
            <input type="text" name="description" placeholder="Project Description" required class="form-control"><br>
            <input type="text" name="category" placeholder="Project Category" required class="form-control"><br>
            <input type="text" name="location" placeholder="Project Location" required class="form-control"><br>
            <input type="text" name="employer" placeholder="Project Employer" required class="form-control"><br>
            <div class="w-100 row mx-0 mb-3">
                <div class="col"></div>
                <div class="col">
                    <input id="isRemote" type="checkbox" name="isRemote" value="off">
                    <label for="isRemote">Remote</label>
                </div>
                <div class="col"></div>
            </div>
            <div class="w-100 row mx-0">
                <div class="col"></div>
                <div class="col">
                    <input class="btn btn-info" type="submit" value="Submit">
                </div>
                <div class="col"></div>    
            </div>
            

        </form>
    </section>
</body>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<!-- Footer -->
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright ©Polaris 2020</small></div>
</section>
</div>

</html>